.btn-icon {
    color: white;
    padding: 10px;
    min-width: 90%;
    min-height: 200px;
    margin-top: 10px;
}

.center {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}

.centertext {
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    margin: 5px;
    background: black;
    color: lightgreen;
    align-content: flex-end;
}

img {
    width: 80%;
}

@media (max-width: 800px) {
    .center {
        grid-template-columns: auto;
    }
}